@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 

       body {
  font-family: 'Poppins', sans-serif;
} 
.navii{
 box-shadow: 0px 2px 20px 0px #017CBE26;
 background-color: #FFFFFF;
z-index: 1;
}
.custom-btn {
  width: 120px;  
}
.textspace{

opacity: 1;
top: 226px;
left: 60px;
border-radius: 12px;
border-width: 1px;

}
.textspace input{
  width: 1290px;
height: 60px;
opacity: 1;
top: 268px;
left: 60px;
border-radius: 12px;
border-width: 1px;
}
.areatext textarea{
   width: 100%;
height: 262px;
opacity: 1;
top: 391px;
left: 60px;
border-radius: 12px;
border-width: 1px;
}
.areatext{
opacity: 1;
top: 349px;
left: 60px;
border-radius: 12px;
border-width: 1px;

}

.imagespace{
opacity: 1;
top: 674px;
left: 60px;

}
.imagespace input{
  width: 100%;
height: 412px;
opacity: 1;
top: 716px;
left: 60px;
border-radius: 12px;
border-width: 1px;
}
input{
  background-color: #FFFFFF;
}
 label{ 
opacity: 1;
top: 226px;
left: 60px;
color: #1A202C;
font-weight:bold;
}
.label-size{
  width: 42px;
height: 30px;
opacity: 1;
top: 226px;
left: 60px;

}

.filelabel{
  width: 144px;
height: 30px;
opacity: 1;
top: 674px;
left: 60px;

}
button{
  width: 1290px;
height: 56px;
opacity: 1;
color: #FFFFFF;
border-radius: 4px;
padding-top: 11px;
padding-right: 32px;
padding-bottom: 11px;
padding-left: 32px;
gap: 10px;
text-align: center;
background-color: #017CBE;
}